<app-header></app-header>
<div class="body">

  <div class="containerT">
    <a href="/aperitivi" class="card card-style">
      <div class="divImage">
        <img  src="../../../assets/img/aperitivi.avif"  class="img-fluid"  alt="aperitivi"/>
      </div>
      <div class="content">
        <h2 class="text-center">APERITIVI</h2>
      </div>
    </a>
  </div>

  <div class="containerT">
    <a href="/cocktail" class="card card-style">
      <div class="divImage">
        <img  src="../../../assets/img/cocktail.jpg"  class="img-fluid"  alt="cocktail"/>
      </div>
      <div class="content">
        <h2 class="text-center">COCKTAIL</h2>
      </div>
    </a>
  </div>

  <div class="containerT">
    <a href="/panini" class="card card-style">
      <div class="divImage">
        <img  src="../../../assets/img/panini.jpg"  class="img-fluid"  alt="panini"/>
      </div>
      <div class="content">
        <h2 class="text-center">PANINI</h2>
      </div>
    </a>
  </div>
  
  <div class="containerT">
    <a href="/tagliere" class="card card-style">
      <div class="divImage">
        <img  src="../../../assets/img/sfiziosità.webp"  class="img-fluid" alt="tagliere"/>
      </div>
      <div class="content">
        <h2 class="text-center">SFIZIOSITÀ VARIE</h2>
      </div>
    </a>
  </div>

</div>
<app-footer></app-footer>
