<app-header></app-header>
<div class="principale">
  <div class="body">
    
    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Aperol Spritz</h2>
            <h2>€4.00</h2>
          </div>
          <p>Aperol, Prosecco, Soda</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Campari spritz</h2>
            <h2>€4.00</h2>
          </div>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Midori Spritz</h2>
            <h2>€4.00</h2>
          </div>
          <p>Midori, Prosecco, Soda</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Lemon Spritz</h2>
            <h2>€4.00</h2>
          </div>
          <p>Limoncello, Prosecco, Soda</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Campari</h2>
            <h2>€2.50</h2>
          </div>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Bitter Bianco/Rosso</h2>
            <h2>€2.00</h2>
          </div>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Cocktail Sanpellegrino</h2>
            <h2>€2.00</h2>
          </div>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Prosecco</h2>
            <h2>€2.50</h2>
          </div>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
