<app-header></app-header>
<div class="principale">
  <div class="body">

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Gin Tonic/Lemon</h2>
            <h2>a partire da €4.00</h2>
          </div>
          <p>Gin a scelta, Schweppes tonica/lemon</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Cuba Libre</h2>
            <h2>€4.00</h2>
          </div>
          <p>Rum scuro, Coca cola, lime</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>
    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Vodka RedBull</h2>
            <h2>a partire da €4.00</h2>
          </div>
          <p>Vodka a scelta, RedBull</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Negroni</h2>
            <h2>4.00</h2>
          </div>
          <p>Gin, Campari, Vermouth</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Negroni Sbagliato</h2>
            <h2>4.00</h2>
          </div>
          <p>Prosecco, Campari, Vermouth</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Moscow Mule</h2>
            <h2>€4.00</h2>
          </div>
          <p>Vodka, Succo di Lime, Ginger Beer</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Mojito</h2>
            <h2>€4.00</h2>
          </div>
          <p>Rum bianco, Succo di lime, Foglie di menta, Soda</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Negroni</h2>
            <h2>4.00</h2>
          </div>
          <p>Gin, Campari, Vermouth</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Negroni</h2>
            <h2>4.00</h2>
          </div>
          <p>Gin, Campari, Vermouth</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>Negroni</h2>
            <h2>4.00</h2>
          </div>
          <p>Gin, Campari, Vermouth</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<app-footer></app-footer>
