<app-header></app-header>
<div class="principale">
  <div class="body">

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>PIAZZA</h2>
            <h2>€7.00</h2>
          </div>
          <p>Hamburger di Scottona, Pomodoro, Bacon, Cheddar, Insalata, Cipolla</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>CANALI</h2>
            <h2>€7.00</h2>
          </div>
          <p>Hamburger di Scottona, Pomodori Secchi, Melanzane Grigliate, Provola</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>
    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>PIANO DI ZONA</h2>
            <h2>€7.00</h2>
          </div>
          <p>Hamburger di Scottona, Mortadella alla Piastra, Crema di Pistacchio, Provola</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>COSTE</h2>
            <h2>€7.00</h2>
          </div>
          <p>Hamburger di Scottona, Pomodoro, Glassa Balsamica, Mozzarella di Bufala</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>SANTA MARIA</h2>
            <h2>€7.00</h2>
          </div>
          <p>Hamburger di Scottona, Pomodoro, Bacon, Cheddar, Insalata, Cipolla</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <div class="card card-style">
        <div class="container">
          <div class="h2">
            <h2>TAVERNA</h2>
            <h2>€7.00</h2>
          </div>
          <p>Hamburger di Scottona, Peperone Crusco, Provola, Friarielli</p>
          <div class="divider">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
